* {
    --dark-blue: 0, 18, 64;

    font-family: 'Roboto';
    font-weight: 300;
    color: rgb(var(--dark-blue));
}

#logo {
    display: flex;
    align-items: center;
}

#logo > #logo-img {
    max-width: 60px;
}

#logo > #logo-name {
    font-size: 1.2em;
    margin: 0;
    margin-left: 0.5em;
    text-transform: uppercase;
    line-height: 1.5em;
}