html, body {
    padding: 0;
    margin: 0;
    background-color: #F1F1F1;
    height: 100%;
    width: 100%;

    --divider: 70%;
    --headerHeight: 80px;
}

#header {
    background-color: white;
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    padding: 0 2em;
    box-sizing: border-box;

}

#content-wrapper {
    height: calc(100% - var(--headerHeight) - 2em);
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em auto;
}

.section {
    background-color: white;
    position: relative;
    width: 95%;
    border-radius: 5px;
}

#feeds-section {
    height: 100%;
}

.section-name {
    width: 180px;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 4px rgba(var(--dark-blue), 0.25);
    padding: 0.4em 2em;
    top: 0.5em;
    transform: translateX(-2em);
    box-sizing: border-box;
    text-align: center;
}

.feeds {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feed-sample{
    margin: 2em;
    height: 150px;
    flex-basis: 250px;
    background-color: #B0CAC7;
    border-radius: 5px;
    float: left;
    cursor: pointer;
    transition: 0.1s;
}

.feed-sample:hover {
    opacity: 0.8;
}

#add-feed-button{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.25); 
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}