html, body {
    padding: 0;
    margin: 0;
    background-color: #F1F1F1;
    height: 100%;
    width: 100%;

    --divider: 70%;
    --headerHeight: 80px;
}

#header {
    background-color: white;
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    padding: 0 2em;
    box-sizing: border-box;
}

#content-wrapper {
    height: calc(100% - var(--headerHeight));
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.section {
    background-color: white;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

#camera-section {
    height: calc(var(--divider) - 3em);
}

#metrics-section {
    height: calc(100% - var(--divider) - 3em);
    display: flex;
}

.section-name {
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 4px rgba(var(--dark-blue), 0.25);
    padding: 0.4em 4em;
    padding-left: 4em;
    top: 0.5em;
    transform: translateX(-2em);
}

#metrics-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 3em;
    margin-left: 2em;
    width: 120px;
}

#metrics-list > li {
    line-height: 1.5em;
    cursor: pointer;
    color: rgba(var(--dark-blue), 0.25);
    transition: 0.2s;
    margin: 0.5em 0;
}

#metrics-list > li:hover, #metrics-list > .selected {
    color: rgb(var(--dark-blue));
}

#metrics-content {
    height: 100%;
    width: 100px;
    padding: 1.5em;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

#metrics-content > .chart-wrapper {
    display: flex;
}

#metrics-content > .chart-wrapper > .chart {
    width: 150px;
    margin-right: 1.5em;
}