html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
/* form {border: 3px solid #f1f1f1;} */

h2 {
  text-align: center;
  margin: 1.5em;
}

input, button {
  width: 100%;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 1em;
}

input[type=text] {
  margin-top: 0;
}

input[type=text], input[type=password] {
  /* border: 1px solid #ccc; */
  background-color: #F1F1F1;
  border: none
}

label {
  line-height: 1.5em;
}

label[for="psw"] {
  margin-top: 0.5em;
}

button {
  background-color: #98BAB6;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  letter-spacing: 1px;
  font-weight: normal;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
}

img.avatar {
  width: 50%;
  border-radius: 50%;
}

form {
  width: 30%;
  position: relative;
}

#form-error {
  position: absolute;
  bottom: 0;
  transform: translateY(200%);
  color: red;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header {
  position: absolute;
  left: 5em;
  top: 3em;
}

#wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn {
     width: 100%;
  }
}