* {
    font-family: 'Roboto';
    font-weight: 300;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #F1F1F1;
}

#header {
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 2em;
    box-sizing: border-box;
}

#logo {
    display: flex;
    align-items: center;
}

#logo > #logo-img {
    max-width: 60px;
}

#logo > #logo-name {
    font-size: 1.2em;
    margin: 0;
    margin-left: 0.5em;
    text-transform: uppercase;
    line-height: 1.5em;
}